h1,.h1 {
  font-size: 58px;
  line-height: 60px;
  @media #{$mobile}{
    font-size: 36px;
    line-height: 40px;
  }
}
h2,.h2 {
  font-size: 36px;
  line-height: 60px;
  @media #{$mobile}{
    font-size: 20px;
    line-height: 30px;
  }
}
h3,.h3 {
  font-size: 20px;
  line-height: 30px;
  @media #{$mobile}{
    font-size: 16px;
    line-height: 24px;
  }
}
h4,.h4 {
  font-size: 16px;
  line-height: 24px;
}
h5,.h5 {
  font-size: 14px;
  line-height: 21px;
}


.p_middle {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
  @media #{$mobile}{
    font-size: 12px;
    line-height: 18px;
  }
}
.p_small {
  font-size: 12px;
  line-height: 18px;
}

.title_dark {
  color: #000;
}
.title_light {
  color: #fff;
}

.header {
  &__title {
    z-index: 2;
  }
  &__subtitle {
    position: relative;
    margin-top: 10px;
    z-index: 2;
  }
}
.left {
  &__title {
    position: relative;
    padding-left: 12px;
    z-index: 2;
    @include before_circle;
  }
}
.center {
  &__title {
    position: relative;
    text-align: center;
    z-index: 2;
    @include before_circle;
    &:before {
      left: 50%;
      transform: translate(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
}
